* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, sans-serif;
}

.tree {
  width: 400px;
  height: 500px;
  border: 2px solid rgb(20, 198, 58);
  position: relative;
  border-radius: 5px;
}

.title {
  display: block;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  background-color: rgb(20, 198, 58);
  color: white;
}

button {
  padding: 10px 20px;
  outline: none;
  border: none;
  border: 1px solid #c0c0c0;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

input {
  font-family: inherit;
}
