.NodeList {
  width: 100%;
  height: 400px;
  overflow-y: scroll;

  ul {
    display: flex;
    flex-direction: column;
  }

  span:hover {
    background-color: rgb(203, 249, 213);
    cursor: pointer;
  }
}
